:root {
  /* COLORS */
  --main-green: #014e56;
  --main-color: #f67e7e;
  --main-white: #fff;

  --second-light-blue: #79c8c7;
  --second-police-blue: #2c6269;
  --second-deep-green: #004047;
  --second-state-green: #012f34;
  --second-dark-green: #002529;
}
